FormClient/FormClient/Service References/MyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBangXeXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBangXeXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBangXeXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BienSoXe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoMay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoKhung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoaiXe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MauXe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMNDSoHuu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayDangKy" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NoiDangKy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DienThoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemXeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>