FormClient/FormClient/Service References/XService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FormHost" />
  <xs:element name="ThemXe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FormHost" minOccurs="0" name="Xe" nillable="true" type="q1:XeMat" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FormHost" minOccurs="0" name="People" nillable="true" type="q2:ChuXe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemXeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoCMND">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimXeTheoCMNDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FormHost" minOccurs="0" name="TimXeTheoCMNDResult" nillable="true" type="q3:ArrayOfXeMat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>